@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.attribution {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
/* Variables Start */
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
/* Variables End */
/* Global Rules Start */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
}
/* Global Rules End */

/* For Debugging Only Start */
.debug {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -9;
  opacity: 0.5;
  opacity: 0;
}
/* For Debugging Only End */

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: -62% 165%, 150% -120%;
  background-repeat: no-repeat;
  background-color: var(--Dark-cyan);
  text-align: center;
  color: var(--Dark-gray);
}
main {
  margin: 17.3rem auto 10rem;
  width: 90%;
  max-width: 350px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
header {
  position: relative;
  background-image: url(../images/bg-pattern-card.svg);
  min-height: 14rem;
  margin-bottom: 7rem;
}
header img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
main h1 {
  font-size: 1.8rem;
  color: var(--Very-dark-desaturated-blue);
}
main h1 span {
  color: var(--Dark-grayish-blue);
  font-weight: normal;
}
main > p {
  padding: 1rem 0 2rem;
  border-bottom: 1px solid #e7e7e7;
}
.stats {
  display: flex;
  margin: 2.5rem 0;
  justify-content: space-evenly;
}
.stat h2 {
  color: var(--Very-dark-desaturated-blue);
  font-size: 1.8rem;
}
.stat p {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}
